* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(221, 247, 219);
    max-width: 1140px; 
    height: 2000px;
    margin: 0;
    padding: 20px;
}
.menu{
    position: fixed;
    top: 0;
    right:80px;
    left: 30%;
    border: 1px solid powderblue;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    height: 40px;
    background-color: rgb(240, 240, 247);
}

.menu__item-link {
    color: #0f0984; 
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu__item-img {
    width: 40px;
    height: 40px;
    background-color: rgb(31, 31, 65);  
}

.menu--dropdown {
     display: none;
     flex-direction: column;
     position: absolute;
     left: 0;
     top: 100%;
}

.menu__item--loupe-dropdown {
    position: relative;
}

.menu__item--loupe-dropdown:hover .menu--dropdown {
    display: flex;
   
}

.section {
    min-width: 380px;
    margin: 60px 0 10px;
    padding: 0;
}

@media (max-width:768px) {
    body {
        width: 768px; 
        padding: 40px;
    }
   
    .menu__item-link {
        display: block;
        color: #fffcfc; 
        text-decoration: none;
        padding: 10px 20px;
    }
    
    .menu--dropdown {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .section {
        min-width: 380px;
        margin: 60px 0 10px;
        padding: 0;
    }
}

